@media (max-width: 1140px) {
  nav ul li a {
    font-size: 16px;
  }

  .key-rows {
    display: flex;
  }

  footer {
    top: 210px;
  }
}

@media (max-width: 960px) {
  header {
    grid-template-columns: 25% 75%;
  }

  .key-rows {
    display: block;
  }

  .key-box {
    margin: 30px 0;
  }

  footer {
    top: 178px;
  }

  .pic-box img {
    width: 100%;
  }

  .image-content {
    font-size: 20px;
    padding: 80px 0;
  }
}

@media (max-width: 850px) {
  .banner {
    padding: 20px 120px;
  }

  .banner-heading {
    font-size: 30px;
  }

  nav ul li {
    display: flex;
    transition: all 0.3s ease-in-out;
  }

  #check:checked ~ .toogle-sidebar {
    display: block;
    transition: all 0.3s ease-in-out;
  }

  .toogle-sidebar {
    display: none;
  }

  .toogle-bars i {
    display: block;
    cursor: pointer;
    float: right;
    transition: all 0.3s ease-in-out;
  }

  footer {
    top: 158px;
  }
}
@media (max-width: 650px) {
  .banner {
    padding: 20px 80px;
  }
  .banner-heading {
    font-size: 25px;
  }

  .img-row {
    padding: 0 20px;
    display: grid;
    grid-template-columns: 100%;
  }

  .image-content {
    padding-top: 20px;
    padding-bottom: 60px;
  }
}
@media (max-width: 757px) {
  .banner {
    padding: 20px 120px;
  }

  .banner-heading {
    font-size: 30px;
  }

  nav ul li {
    display: flex;
  }

  #check:checked ~ .toogle-sidebar {
    display: block;
  }

  .toogle-sidebar {
    display: none;
  }

  .toogle-bars i {
    display: block;
    cursor: pointer;
    float: right;
  }

  .footer-text {
    font-size: 22px;
  }

  footer {
    top: 125px;
  }

  .img-row {
    padding: 0 20px;
    display: grid;
    grid-template-columns: 100%;
  }

  .image-content {
    padding-top: 20px;
    padding-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .banner {
    padding: 20px 65px;
  }

  .banner-heading {
    font-size: 25px;
  }

  button {
    margin-top: 20px;
  }

  #converter {
    text-align: center;
  }

  footer {
    top: 110px;
  }

  .footer-text {
    font-size: 20px;
  }
}

@media (max-width: 575px) {
  .banner {
    padding: 20px 30px;
  }

  .banner-heading {
    font-size: 20px;
  }

  main input {
    padding: 15px 60px;
    border: none;
  }

  .about-tool p {
    line-height: 1.5;
  }

  #check:checked ~ .toogle-sidebar {
    display: block;
  }

  .toogle-sidebar {
    display: none;
  }

  .toogle-bars i {
    display: block;
    cursor: pointer;
  }
}

@media (max-width: 500px) {
  .banner {
    padding: 20px 30px;
  }

  .banner-heading {
    font-size: 22px;
  }

  header {
    grid-template-columns: 35% 65%;
  }
  .banner-para {
    padding: 20px 0;
    font-size: 16px;
  }

  .pic-box img {
    width: 320px;
    border-radius: 10px;
  }

  .footer-text {
    font-size: 12px;
  }

  footer {
    top: 78px;
  }

  .image-content {
    font-size: 16px;
  }

  .image-sec {
    padding: 0;
  }
}

@media (max-width: 450px) {
  .banner {
    padding: 20px 30px;
  }

  .banner-heading {
    font-size: 21px;
  }

  header {
    grid-template-columns: 35% 65%;
  }
  .banner-para {
    padding: 20px 0;
    font-size: 16px;
  }

  .pic-box img {
    width: 320px;
    border-radius: 10px;
  }

  .footer-text {
    font-size: 12px;
  }

  footer {
    top: 78px;
  }
}
@media (max-width: 420px) {
  .banner {
    padding: 20px 30px;
  }

  .banner-heading {
    font-size: 20px;
  }

  header {
    grid-template-columns: 35% 65%;
  }
  .banner-para {
    padding: 20px 0;
    font-size: 16px;
  }

  .pic-box img {
    width: 320px;
    border-radius: 10px;
  }

  .footer-text {
    font-size: 12px;
  }

  footer {
    top: 78px;
  }

  .image-content {
    font-size: 15px;
  }
}

@media (max-width: 400px) {
  .banner {
    padding: 20px 30px;
  }

  .banner-heading {
    font-size: 18px;
  }

  header {
    grid-template-columns: 35% 65%;
  }
  .banner-para {
    padding: 20px 0;
    font-size: 16px;
  }

  .pic-box img {
    width: 320px;
    border-radius: 10px;
  }

  .footer-text {
    font-size: 12px;
  }

  footer {
    top: 78px;
  }
}
@media (max-width: 300px) {
  .banner {
    padding: 20px 30px;
  }

  .banner-heading {
    font-size: 18px;
  }

  header {
    grid-template-columns: 45% 55%;
  }
  .banner-para {
    padding: 20px 0;
    font-size: 16px;
  }

  main input {
    padding: 15px 20px;
    border: none;
  }
}

@media (max-width: 360px) {
  main input {
    padding: 15px 35px;
    border: none;
  }

  .pic-box img {
    width: 100%;
    border-radius: 10px;
  }

  .footer-text {
    padding: 10px 0;
    font-size: 10px;
  }

  footer {
    top: 60px;
  }

  svg {
    width: 108%;
  }
}
@media (max-width: 350px) {
  main input {
    padding: 15px 35px;
    border: none;
  }

  .pic-box img {
    width: 100%;
    border-radius: 10px;
  }

  .footer-text {
    padding: 10px 0;
    font-size: 10px;
  }

  footer {
    top: 60px;
  }

  svg {
    width: 108%;
  }
}
